<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="">spenger.club</a>

  <div class="collapse navbar-collapse pull-xs-right" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of links" style="margin-left: 1rem; margin-right: 3rem;">
        <a class="nav-link" routerLink="{{link.path}}" routerLinkActive="active">{{link.name}}</a>
      </li>
      <li class="nav-item" style="margin-left: 1rem; margin-right: 3rem;">
        <a class="nav-link" href="https://github.com/markusstephanides/spengerclub-frontend">Fork me on GitHub!</a>
      </li>
      <li class="nav-item" style="margin-left: 1rem; margin-right: 3rem;">
        <a class="nav-link" href="mailto:ste15554@spengergasse.at">Made by Markus Stephanides</a>
      </li>
      <li class="nav-item" style="margin-left: 1rem; margin-right: 3rem;">
        <a class="nav-link">Vote 4 Niko </a>
      </li>
    </ul>
  </div>
</nav>
