<div class="container full">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center display-4">Weiterleitung...</h1>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <div class="alert alert-info">
        <h4>INFO</h4>
        <p>Es sind Gerüchte aufgekommen, dass spenger.club die Hardware der Benutzer zum Minen von Kryptowährungen verwendet.<br>Wir können jedoch zu 100% garantieren, dass dies nicht der Fall ist und die Website auf schnelle Performance ausgelegt ist.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <h4>Warnung</h4>
        <p>Diese Seite befindet sich noch im Aufbau. Bei Fehler oder Fragen bitte eine Mail an <a href="mailto:boz15361@spengergasse.at">Dogukan Bozkurt</a> oder <a href="mailto:STE15554@spengergasse.at">Markus Stephanides</a> </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let link of threeLink">
      <div class="card text-center" [ngClass]="link.type">
        <div class="card-block">
          <h4 class="card-title">{{link.title}}</h4>
          <p class="card-text">{{link.text}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <div class="col-12">
      <div class="card card-danger text-center">
        <div class="card-block">
          <h4 class="card-title">Spengerbot Einstellungen</h4>
          <p class="card-text">Coming soon!</p>
        </div>
      </div>
    </div>
  </div> -->
  <br> -->
</div>
