  .vote-box {
    -webkit-box-shadow: 0px 0px 63px 0px rgba(99, 99, 99, 1);
    -moz-box-shadow: 0px 0px 63px 0px rgba(99, 99, 99, 1);
    box-shadow: 0px 0px 63px 0px rgba(99, 99, 99, 1);
  }

  .panel-heading {
    background-color: #1a1a1a !important;
    color: white;
    text-align: left;
    padding-left: 10px;
  }

  .niko {
    max-width: 100%;
  }

  .tright {
    float: right;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .child {
    padding-top: 12px;
    display: inline-block;
    max-width: 100%;
    /*min-width: 54%;*/
  }

  .strike {
    text-decoration: line-through;
    color: red;
  }

  .irregular {
    color: red;
  }

  .current-lesson {
    background-color: lightgreen;
  }

  .center-td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .inner-table {
    width: 100%;
  }

  .inner-table td {
    border: none;
    padding: 5px;
  }

  .table td {
    padding: 5px;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
  }

  .table>tbody>tr>td {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
  }

  .mother {
    display: block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-overflow-scrolling: touch;
  }

  @media (max-width: 700px) {
    .table th {
      font-size: 2vw;
    }
    .table h4 {
      font-size: 4vw;
    }
    .table td {
      padding: 1px;
    }
    .child {
      font-size: 2vw;
    }
    .thead-inverse {
      height: 10%;
    }
    .table th {
      padding: 8px;
    }
  }
